
    <section id="wrapper" class="container">
        <aside class="side-left">
            <div class="side-header">
                <form class="side-form" role="form">
                    <input type="text" class="form-control" id="find" value="" data-target=".side-wrapper" placeholder="Buscar...">
                    <i class="fa fa-search"></i>
                    <i class="fa fa-times" id="clearresults"></i>
                </form>
            </div>
            
            <div class="side-body">
                
                <div class="side-wrapper side-wrapper-large">
                    <div class="side-wrapper-status lead ready"></div>
                    <div class="side-wrapper-result" id="clear">
                    </div>
                </div>



            </div>
        </aside>
        <section id="content" class="content">
            
            <header class="content-header">
                
                <div class="header-actions pull-right">
                    
                   
                    
                </div>

                
                <div class="header-actions pull-left">

                </div>

                
                <h1 class="content-title">BadAss App</h1>
            </header>
            

            
            <div class="content-spliter">
                
                
                <section id="content-main" class="content-main">
                    
                    
                    <div class="content-app fixed-header">
                      
                        <div class="app-header">
                            <h3 class="app-title playing">App BadAss</h3>
                        </div>
                        
                        <div class="app-body">
                          <div class="isotope ml-col-4">
 
                          </div>
                          <iframe id="plr"  width="1" style="" height="1" scrolling="no" src="" frameborder="0" ></iframe>

                            
                        </div>
                    </div>

                </section>
            </div>

        </section>
    </section>
<script> 
var lasted = { track: '<%=@hash%>' };
</script>
